* {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
}

.img {
    max-width: 100%;
}

p {
    text-align: justify;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: black;
}

.nav {
    display: flex;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    border: 5px double;
    background-color: #6F90A2;
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
    display: block;
    color: black;
}

.nav li {
    display: inline-block;
}

.nav li:hover {
    background: white;
}

.info {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.remera {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 400px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #6F90A2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
}

.sub-line {
    text-decoration: underline;
}

.container-catalogo {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.img-galeria {
    width: 350px;
}

table {
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
    width: 100%;
}

tr {
    margin: 3px;
}

td {
    border: 1px solid black;
    font-size: 20px;
}

th {
    border: 1px solid black;
}

thead {
    background-color: #6F90A2;
}

.container-formulario {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
    border-width: 3px;
    justify-content: space-around;
    height: 600px;
}

.boxleft {
    display: block;
    width: 500px;
}

.boxright {
    display: block;
    border-width: 3px;
    width: 500px;
    justify-content: space-between;
    text-align: justify;
}


input,
select {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-align: justify;
    width: 100%;
    max-width: 200px;
}

.error {
    color: red;
    font-size: 17px;
    max-width: 100%;
    padding: 0px;
}

.confirmacion {
    color: seagreen;
    font-size: 17px;
    max-width: 100%;
    padding: 0px;
}