body {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: black;
}

.img-logo {
    max-width: 100%;
}

.nav {
    display: flex;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    border: 5px double;
    background-color: #6F90A2;
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
    display: block;
    color: black;
}

.nav li {
    display: inline-block;
}

.nav li:hover {
    background: white;
}

.info {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.remera {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 400px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #6F90A2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
}

.sub-line {
    text-decoration: underline;
}

.conteiner-formulario {
    display: flex;
    flex-direction: row;
    border-width: 3px;
}

.boxleft {
    width: 60%;
}

.boxright {
    border-width: 3 px;
    width: 40%;
    justify-content: space-around;
}

.container-catalogo {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.img-galeria {
    width: 350px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    font-size: 20px;
}

th {
    border: 1px solid black;
}

thead {
    background-color: #6F90A2;
}