.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.nav {
    display: flex;
    list-style: none;
    background: white;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    border: 5px double;
    
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
    display: block;
}

.nav li {
    display: inline-block;
}

.nav li a:hover {
    background: red;
}

